* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #F3F1FF;
  overscroll-behavior-y: none;
}
input, button { font-family: inherit; }
